<head>
  <title>Hello world</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
  <style type="text/css">
    body{
	font-family: 'लॅटिनमॉडर्न-समानांतर-साधारण';
    }
  </style>
  <h1>Hello world</h1>
</head>

<p style="font-family:मुक्त-साधारण">
  नमस्कार, हा मुक्त टंकातील मजकूर आहे. ह्यात ₹ हे चिन्ह व्यवस्थित दिसते.
</p>

<p style="font-family:शोभिका-साधारण">
  नमस्कार, हा मुक्त टंकातील मजकूर आहे. ह्यात ₹ हे चिन्ह व्यवस्थित दिसते. आकाङ्क्ष्य
</p>

नमस्कार, आणखी काही मजकूर.
