@font-face {
    font-family: 'लॅटिनमॉडर्न-समानांतर-साधारण';
    src: url('टंक/लॅटिनमॉडर्न-समानांतर-साधारण.woff2') format('woff2'),
	 url('टंक/लॅटिनमॉडर्न-समानांतर-साधारण.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'मुक्त-साधारण';
    src: url('टंक/मुक्त-साधारण.woff2') format('woff2'),
	 url('टंक/मुक्त-साधारण.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'शोभिका-साधारण';
    src: url('टंक/शोभिका-साधारण.woff2') format('woff2'),
	 url('टंक/शोभिका-साधारण.woff') format('woff');
    font-weight: normal;
}
